# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.h5
*.png
*.fdb_latexmk
*.out
jif_paper1.pdf
*.toc
gpps.pdf
test_lsst_image.fits
test_wfirst_image.fits
spaceground.hdf5
*.fits
great3
jif/.ipynb_checkpoints
git_tag.tex
*.fls
roaster_example.pdf
.Rproj.user
*.tar
devel/sed_atlas/123
*.Rproj
