; Source model parameter values to initialize Roaster
; These values for a single Spergel galaxy.
; To model multiple sources in a single footprint, add more parameters 
; separated by white space to each line.
[parameters]
redshift=1
nu=0.3
hlr=1.0
e=0.26
beta=0.5236
mag_sed1=28.5
mag_sed2=99
mag_sed3=99
mag_sed4=99
dx=0.7
dy=-0.3
psf_fwhm_0=0.6