; Source model parameter values to initialize Roaster
; These values for a single Spergel galaxy.
; To model multiple sources in a single footprint, add more parameters 
; separated by white space to each line.
[parameters]
redshift=1
nu=0.5
hlr=0.8
e1=-0.04
e2=0.01
mag_sed1=40.3
dx=0.0
dy=0.0
; psf_fwhm=0.6